.boxes {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  background-color: gray;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  font-size: 35px;
}
.num {
  color: transparent;
}
.activeBox {
  background-color: green;
}
.clicked {
  background-color: #ffecb3;
  transform: scale(1.1);
}

.active {
  color: black;
}
